<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Marmitas da Mônica</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'>
        <script src='main.js'></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #392b2a;">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <nav class="navbar navbar-light" >
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                            <img src="../src/imagens/logo.jpg" alt="" width="90" height="90" class="d-inline-block align-text-top"></img>
                            </a>
                        </div>
                    </nav>
                    <div class="collapse navbar-collapse fs-4" id="navbarTogglerDemo01">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/" style="color:#fec619;">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cardapio" style="color:#fec619;">Cardapio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/agendamento" style="color:#fec619;" >Agendamento</a>
                            </li>
                        </ul>
                        <a class="navbar-brand" href="https://www.instagram.com/marmitas_damonica/">
                        <img src="../src/imagens/insta.png" alt="" width="38" height="38" class="d-inline-block align-text-top"></img>
                        </a>
                        <button class="btn btn-outline-warning"><a href="/cadastrar" style="color:#fec619">Cadastrar</a></button>
                    </div>
                </div>
            </nav>
        </header>
  
        <div id="carouselExampleDark" class="carousel carousel-dark slide shadow-5-strong" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../src/carrosel/img1.jpg" class="img-fluid d-block" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h4 class="font-monospace">Refeições Delíciosas para o seu<br> dia a dia.</h4>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../src/carrosel/img2.jpg" class="img-fluid d-block0" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h4 class="font-monospace">Ingredientes escolhidos a dedo.</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../src/carrosel/img3.jpg" class="img-fluid d-block" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h4 class="font-monospace">Refeições preparadas com carinho<br> do inicio ao fim do processo.</h4>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>

      <footer>
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #392b2a;">
              <div class="container-fluid">
                  <nav class="navbar navbar-light"style="background-color: #392b2a;">
                      <div class="container-fluid">
                          <a class="navbar-brand" href="#">
                          <img src="../src/imagens/logo.jpg" alt="" width="100" height="100" class="d-inline-block align-text-top"></img>
                          </a>
                      </div>
                  </nav>
                  <div class="collapse navbar-collapse fs-4" id="navbarTogglerDemo01" style="color:#faefe9;">
                      <div class="container">
                          <div class="container mb-2">
                              <div class="row align-items-start">
                                  <div class="col"></div>
                                  <div class="col"></br></div>
                                  <div class="col"></div>
                              </div>
                              <div class="row align-items-center">
                                  <div class="col"></div>
                                  <div class="col"></br></div>
                                  <div class="col"></div>
                              </div>
                              <div class="row align-items-center" style="padding-top: 50px;">
                                  <div class="col"></div>
                                  <div class="col" style="color:#fec619">
                                      <h6>@Copyright Marmitas da Monica</h6>
                                  </div>
                                  <div class="col"></div>
                              </div>
                          </div>
                      </div>
                      <a class="navbar-brand" href="https://www.instagram.com/marmitas_damonica/">
                      <img src="../src/imagens/insta.png" alt="" width="38" height="38" class="d-inline-block align-text-top"></img>
                      </a>
                  </div>
              </div>
          </nav>
      </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>